.login-modal {
    width: 500px;
    height: 400px;
    margin: 250px 250px 250px 850px; /* 上方 50px，左右置中 */
    padding: 20px;
    border-radius: 10px;
    position: relative;
  }
  
.login-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}
.login-container h2 {
    margin-bottom: 1.5rem;
    color: #333;
}
.input-group {
    margin-bottom: 1rem;
    text-align: left;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
.login-btn {
    width: 100%;
    padding: 10px;
    background: #667eea;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.login-btn:hover {
    background: #5a67d8;
}
.link {
    margin-top: 1rem;
    display: block;
    color: #667eea;
    text-decoration: none;
    font-size: 0.9rem;
}
.link:hover {
    text-decoration: underline;
}
@media (max-width: 1240px) {

    .login-modal {
        width: 300px;
        height: 100px;
        margin: 50px 50px 50px 450px; /* 上方 50px，左右置中 */
        padding: 20px;
        border-radius: 10px;
        position: relative;
      }
}


@media (max-width: 768px) {

    .login-modal {
        width: 300px;
        height: 100px;
        margin: 50px 50px 50px 250px; /* 上方 50px，左右置中 */
        padding: 10px;
        border-radius: 10px;
        position: relative;
      }
      .login-container h2 {
        margin-bottom: 1.5rem;
        color: #333;
        font-size: 15px;
    }
    .input-group label {
        display: block;
        margin-bottom: 5px;
        color: #666;
        font-size: 10px;
    }

    .input-group input {
        font-size: 16px;
        height: 30px;
        padding: 4px 8px;
      }
      
    .input-group {
        margin-bottom: 1rem;
        text-align: left;
    }

      .login-container {
        background: #fff;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 250px;
    }

    .login-btn {
        width: 100%;
        padding: 10px;
        background: #667eea;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 0.5rem;
        cursor: pointer;
        transition: 0.3s;
    }


}